@charset "UTF-8";

/* * {outline: 1px solid green;} */

.width--900px {
    width: 900px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

select:focus {
    outline: none;
}

.bar {
    display: flex;
    margin-right: 10px;
    width: 4px;
    height: 36px;
    background-color: var(--main-color-yel);
}

.ck-editor {
    min-height: 500px;
}
.ck-editor > .ck-editor__main {
    min-height: 500px;
}

.ck-editor > .ck-editor__main > .ck-blurred {
    min-height: 500px;
}

.ck-editor > .ck-editor__main > .ck-focused {
    min-height: 500px;
}

/* board-write */
.board-write {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 200px 0px;
}

/* board-write__title */
.board-write__title {
    border-bottom: 1px solid black;
}

.board-write__title h2 {
    display: flex;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

/* board-write__article-head */
.board-write__article-head {
    display: flex;
    margin: 20px 0px;
}


.board-write__article-bullet {
    flex: 1;
    margin-right: 10px;
}

.board-write__article-bullet select {
    width: 100%;
    height: 30px;
    border: 1px solid var(--mainBtn-color-gre);
}

.board-write__article-title {
    flex: 8;
}

.board-write__article-title input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: 1px solid var(--mainBtn-color-gre);
}

/* board-write__tool */
.board-write__tool {
    background-color: var(--main-color-gre);
}

.board-write__tool-box ul {
    display: flex;
    align-items: center;
    height: 30px;
}

.board-write__tool-box ul li {
    margin: 0px 5px 0px 5px;
}

.board-write__tool-box ul li button {
    border: none;
}

.board-write__tool-box ul li button:hover {
    border-radius: 5px;
    background-color: var(--mainBtn-color-gre);
}

.board-write__tool-box ul li select {
    border: none;
    background-color: var(--main-color-gre);
}

.board-write__tool-box ul li select:hover {
    border-radius: 5px;
    background-color: var(--mainBtn-color-gre);
}

/* board-write__article-main */
.board-write__article-content {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border: 1px solid var(--mainBtn-color-gre);
    resize: none;
}

/* board-write__modify */
.board-write__modify {
    display: flex;
    justify-content: flex-end;
}

.board-write__modify button {
    margin: 5px 0 10px 5px;
    width: 60px;
    height: 25px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

#cancelBtn {
    background-color: var(--mainBtn-color-gre);
}

#modifyBtn {
    background-color: var(--main-color-yel);
}